angular/logs
angular/*.log
angular/npm-debug.log*
angular/yarn-debug.log*
angular/yarn-error.log*
angular/pnpm-debug.log*
angular/lerna-debug.log*
angular/node_modules
angular/dist
angular/dist-ssr
angular/*.local
angular/.vscode/*
angular/!.vscode/extensions.json
angular/.idea
angular/.DS_Store
angular/*.suo
angular/*.ntvs*
angular/*.njsproj
angular/*.sln
angular/*.sw?

react/logs
react/*.log
react/npm-debug.log*
react/yarn-debug.log*
react/yarn-error.log*
react/pnpm-debug.log*
react/lerna-debug.log*
react/node_modules
react/dist
react/dist-ssr
react/*.local
react/.vscode/*
react/!.vscode/extensions.json
react/.idea
react/.DS_Store
react/*.suo
react/*.ntvs*
react/*.njsproj
react/*.sln
react/*.sw?

vue/logs
vue/*.log
vue/npm-debug.log*
vue/yarn-debug.log*
vue/yarn-error.log*
vue/pnpm-debug.log*
vue/lerna-debug.log*
vue/node_modules
vue/dist
vue/dist-ssr
vue/*.local
vue/.vscode/*
vue/!.vscode/extensions.json
vue/.idea
vue/.DS_Store
vue/*.suo
vue/*.ntvs*
vue/*.njsproj
vue/*.sln
vue/*.sw?

svelte-4/logs
svelte-4/*.log
svelte-4/npm-debug.log*
svelte-4/yarn-debug.log*
svelte-4/yarn-error.log*
svelte-4/pnpm-debug.log*
svelte-4/lerna-debug.log*
svelte-4/node_modules
svelte-4/dist
svelte-4/dist-ssr
svelte-4/*.local
svelte-4/.vscode/*
svelte-4/!.vscode/extensions.json
svelte-4/.idea
svelte-4/.DS_Store
svelte-4/*.suo
svelte-4/*.ntvs*
svelte-4/*.njsproj
svelte-4/*.sln
svelte-4/*.sw?

svelte-5/logs
svelte-5/*.log
svelte-5/npm-debug.log*
svelte-5/yarn-debug.log*
svelte-5/yarn-error.log*
svelte-5/pnpm-debug.log*
svelte-5/lerna-debug.log*
svelte-5/node_modules
svelte-5/dist
svelte-5/dist-ssr
svelte-5/*.local
svelte-5/.vscode/*
svelte-5/!.vscode/extensions.json
svelte-5/.idea
svelte-5/.DS_Store
svelte-5/*.suo
svelte-5/*.ntvs*
svelte-5/*.njsproj
svelte-5/*.sln
svelte-5/*.sw?
